* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scrollbar-color: aliceblue coral;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {background-color: aliceblue;}
::-webkit-scrollbar-thumb {background-color: coral;}

html, body{width: 100%;height: 100%;}
body {width: 1280px;margin: 0 auto;}
h2 {color: chocolate;width: 100%;}

header, footer {
    display: flex;
    background-color: coral;
    padding: 10px 25px;
    height: 50px;
}

header {justify-content: space-between;align-items: center;}
footer {justify-content: space-between;align-items: center;}
main {
    min-height: calc(100% - 100px);
    padding: 10px 25px;
    background-color: aliceblue;
    color: black;
}

.logo {
    color: aliceblue;
    text-decoration: none;
    font-size: 23px;
    &:hover {text-decoration: underline;}
    &:active {color: tomato;}
}

ul {
    display: flex;
    list-style: none;
    & a {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 10px;
        text-decoration: none;
        color: aliceblue;
        font-size: 18px;
        &:hover {text-decoration: underline;}
        &:active {color: tomato;}
        & span {font-size: 8px;}
    }
}

#genres {
    display: flex;
    flex-direction: column;
    position: absolute;
    max-height: 0;
    overflow: hidden;
    background-color: chocolate;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    & a:hover {
        background-color: coral;
        filter: brightness(1.1);
        transition: all .1s linear;
    }
}

.genres:hover #genres {max-height: 100%;transition: all .1s linear;}
.genres:hover a {align-items: baseline;}



.button-all {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: coral;
    color: aliceblue;
    text-decoration: none;
    &:hover {background-color: tomato;}
    &:active {filter: brightness(.8);}
}

#news {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

#popular {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}

.new-decription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & button {
        background-color: coral;
        color: aliceblue;
        border: none;
        padding: 5px;
        cursor: pointer;
        &:hover {background-color: tomato;}
        &:active {filter: brightness(.8);}
    }
}

.new-film {
    display: flex;
    gap: 10px;
    background-color: white;
    width: max-content;
    padding: 10px;
    cursor: default;
    width: 400px;
    & img {object-fit: cover;}
    &:hover img {filter: brightness(1.2);transition: all .1s linear;}
    &:hover {
        background-color: chocolate;
        color: aliceblue;
        -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    }
}